@font-face {
    font-family: nolean;
    src: url(../fonts/NOELAN.ttf);
  }
  
body {
  background-color: #CCB5C5;
}


.cover{
    background: url('../img/will-and-kt-header-2.jpg') no-repeat center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}


#RSVP{
  padding-top:0;
  margin-top:0;
  background: url('../img/flowers-background-0.png') no-repeat center; 
}


#venue{
  background: url('../img/flowers-background-1.png') no-repeat center; 
  margin-top: -150px;
  z-index:1000;
  position:relative;
  background-color:#CCB5C5 !important;
  padding-top:100px;

}

#story{
  background: url('../img/flowers-background-2.png') no-repeat center; 
}

#schedule{
  background: url('../img/flowers-background-3.png') no-repeat center; 
}

#travel{
  background: url('../img/flowers-background-4.png') no-repeat center; 
}

#where-to-stay{
  background: url('../img/flowers-background-5.png') no-repeat center;
  padding-bottom:0px;
}

#faq{
  background: url('../img/flowers-background-6.png') no-repeat center; 
}

.alert-light{
  background-color:#a395e03b;
  border-color:#a395e0;
  color:#343a40;
}

.alert-rsvp{
      background-color: rgb(219, 198, 250) ;
      border-width: 5px;
    border-color: #ffffff;
    border-radius: 10px;
    color: #482c50;
    font-family: 'Quicksand', sans-serif  !important;
    font-size: 20px !important;
    max-width: 500px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
a {
  display: inline-block;
  color:#7d67da;
  text-decoration: none !important;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);

  -webkit-transition: all .1s linear;
          transition: all .1s linear; 
}

a:hover, a:focus {
  color:#8474ca;
  -webkit-transform: scale(1.015);
      -ms-transform: scale(1.015);
          transform: scale(1.015); 
        
}

.location-link{
  color:black;
}

p, a, li, small{
    font-family: 'Quicksand', sans-serif;
    font-size:18px;
}

.QA{
  font-family: 'Quicksand', sans-serif;
}
h1{
    font-family: 'Zeyada', cursive;
    font-size:6em;
}

h2 {
    font-family: 'Zeyada', cursive;
    font-size:4em;
}

h3 {
    font-family: 'Zeyada', cursive;
    font-size:3em;
}


.subtitle {
    margin-bottom:0;
    font-size:1.3em;
}


.polaroid {
    background: #ffffff;
    border-radius: 3px;
    display: inline-block;
    padding: 15px 15px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    z-index: 0;
    position: relative;
  }
  .polaroid-tilted{
    transform: rotate(-2deg);
  }
  
  .polaroid .polaroid-img:after {
    color: #333;
    font-size: 12px;
    content: attr(title);
    position: relative;
    top: 15px;
  }
  
  .polaroid img {
    display: block;
    width: 250px;
    margin:auto
  }


  /* Alert */
  .alert .icon{
    display:table-cell;
    vertical-align: top;
}

.alert div,
.alert span{
    padding-left: 5px;
    display:table-cell;
}

.card-columns {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count: 2;
  }

section{
  padding-top: 75px;
  padding-bottom: 75px;
}

@media (max-width: 600px) {
  .card-columns {
      -webkit-column-count:1;
      -moz-column-count:1;
      column-count:1;
  }
}



#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #CCB5C5;
  z-index: 2000;
}

#loading-image {
  z-index: 2000;
  width:100px;
}

/* CSS */
/* GENERAL BUTTON STYLING */


/* CSS */
.button-78 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #482c50;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: 'Quicksand', sans-serif;;
  font-size: 24px;
  font-weight: 700;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-78 {
    padding: 19px 32px;
  }
}

.button-78:before,
.button-78:after {
  border-radius: 10px;
}

.button-78:before {
  background-image: linear-gradient(92.83deg, #ffffff 0, #ffffff 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-78:after {
  background-color: initial;
  background-image: linear-gradient(#CCB5C5 0, rgb(219, 198, 250) 0%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 300ms ease-out;
  z-index: -1;
}

.button-78:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 255, 255) 0%, rgb(248, 240, 232) 100%);
}

.button-78:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-78:active:not(:disabled) {
  color: #ccc;
}

.button-78:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ffffff 0, #ebdede 100%);
}

.button-78:active:not(:disabled):after {
  background-image: linear-gradient(#15540f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-78:disabled {
  cursor: default;
  opacity: .24;
}

/* FAQ dropdown */
main {
  max-width: 520px;
  margin: 0 auto;
}
summary {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.10rem;
  font-weight: 600;
  background-color: #fff;
  color: #333;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 0px}
}
details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}
details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
}
details > summary::-webkit-details-marker {
  display: none;
}